npm-debug.log
.git
.gitignore
README.md
.env
.env.*
.venv
venv
node_modules
**/node_modules
.nyc_output
coverage
**/coverage
dist
**/dist
.angular
**/.angular
__pycache__
**/__pycache__
*.pyc
**/*.pyc
.pytest_cache
**/.pytest_cache
.mypy_cache
**/.mypy_cache
.ruff_cache
**/.ruff_cache
.DS_Store
