@import 'custom-theme.scss';

html, body { 
  height: 100%; 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.full-width {
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.text-center {
  text-align: center;
}

.mt-16 { margin-top: 16px; }
.mb-16 { margin-bottom: 16px; }
.mr-16 { margin-right: 16px; }
.ml-16 { margin-left: 16px; }

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}